<h1>Bienvenido a BodegasDisponibles</h1>
<p>Explora nuestras bodegas destacadas.</p>


<div class="home-container">
  <div class="filters">
    <mat-accordion>
  <mat-expansion-panel *ngFor="let filtro of filtros">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ filtro.Title }}</mat-panel-title>
    </mat-expansion-panel-header>

    <ul class="filter-list" [ngSwitch]="filtro.Tipo">
      <!-- 🔹 Tipo radio -->
      <ng-container *ngSwitchCase="'radio'">
        <li *ngFor="let item of filtro.Items">
          <input
            type="radio"
            [name]="filtro.Title"
            [value]="item.value"
            (change)="onFilterChange(filtro, item.value, $event)"
          />
          {{ item.value }}
        </li>
      </ng-container>

      <!-- 🔹 Tipo checkbox -->
      <ng-container *ngSwitchCase="'checkbox'">
        <li *ngFor="let item of filtro.Items">
          <input
            type="checkbox"
            [value]="item.value"
            (change)="onFilterChange(filtro, item.value, $event)"
          />
          {{ item.value }}
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

<!-- 🔹 Botón para ver el JSON construido -->
<button mat-raised-button color="primary" (click)="mostrar = !mostrar">
  Mostrar JSON
</button>

<pre *ngIf="mostrar">
{{ getFiltrosSeleccionadosJSON() }}
</pre>

    <button
      mat-raised-button
      color="primary"
      class="filter-button btn-green"
      (click)="applyFilters()"
    >
      Aplicar filtros
    </button>
  </div>
   <div class="content">
    <ng-container *ngFor="let bodega of bodegas">

  <app-carousel-feature
    [title]="bodega.nombre"
    [images]="getImages(bodega)"
    [features]="getFeatures(bodega)">
  </app-carousel-feature>

</ng-container>
   
  </div>

</div>